Merging weather data with historical actual solar power and measurements of solar radiation and temperature

Merge, join, and concatenate

https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

https://stackoverflow.com/questions/36292959/pandas-merge-data-frames-on-datetime-index

https://stackoverflow.com/questions/39816671/pandas-populate-new-dataframe-column-based-on-matching-columns-in-another-datafr

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import csv 
import matplotlib.pyplot as plt
import pytz

In [2]:
import os
cwd = os.getcwd()
cwd
# os.chdir('pvinhokkaidodatadistribution')
# C:\Users\Mhdella\Google Drive\Jupyter Folder\PV_Hokkaido_forecast_contest\
os.chdir('C:\\Users\\Mhdella\\Google Drive\\Jupyter Folder\\PV_Hokkaido_forecast_contest\\pvinhokkaidodatadistribution')
nwd=os.getcwd()
nwd

'C:\\Users\\Mhdella\\Google Drive\\Jupyter Folder\\PV_Hokkaido_forecast_contest\\pvinhokkaidodatadistribution'

In [3]:
dfp=pd.read_csv('LD1_P201601~201712.csv', parse_dates=[['DATE', 'TIME']]) 
dfq=pd.read_csv('LD2_QT201601~201712.csv', header = 1, parse_dates=[['DATE', 'TIME']]) 

dfq.head()
# dfp.head()
# dfs1_mes_tz.head()
# print(len(dfp), len(dfq))
# print(len(dfs1_mes), len(dfs2_mes), len(dfs1_mes_tz), len(dfs2_mes_tz))

# list(dfq)
# list(dfp)
# list(dfs1_mes)

,DATE_TIME,solar[kW/m2],temp[deg C],solar[kW/m2].1,temp[deg C].1,solar[kW/m2].2,temp[deg C].2,solar[kW/m2].3,temp[deg C].3
0,2016-01-01 00:00:00,-0.000778,-2.3,-0.000902,-2.5,-0.000717,-8.8,-0.002055,-4.4
1,2016-01-01 00:30:00,-0.000703,-2.2,-0.000727,-2.8,-0.000073,-9.3,-0.002093,-4.2
2,2016-01-01 01:00:00,-0.000713,-2.1,-0.000774,-3.2,-0.000957,-9.0,-0.000592,-4.9
3,2016-01-01 01:30:00,0.000029,-2.2,-0.000942,-3.5,-0.001920,-8.6,-0.001966,-5.6
4,2016-01-01 02:00:00,-0.000261,-2.4,-0.000459,-3.7,-0.000978,-7.9,-0.001745,-5.5

In [4]:
os.chdir('C:\\Users\\Mhdella\\Desktop\\ERA5_data')

In [5]:
df_43_mes17_18=pd.read_csv('Hokk_Ens_Agg_Res_Jp_lat43_2017_18.csv',parse_dates=[['DATE', 'TIME']])
df_42_44_mes17_18=pd.read_csv('Hokk_Ens_Agg_Res_Jp_lat42_44_2017_18.csv',parse_dates=[['DATE', 'TIME']])
df_42_44_mes16=pd.read_csv('Hokk_Ens_Agg_Res_Jp_lat42_44_2016.csv',parse_dates=[['DATE', 'TIME']])

df_42_44_mes16_18=pd.read_csv('Hokk_mena_max_min_Res_Jp_lat42_44_2016-2018.csv',parse_dates=[['DATE', 'TIME']])


df_42_44_mes16_18.head()
# list(df_43_mes17_18)
# list(df_42_44_mes17_18)

,DATE_TIME,time,u10,v10,t2m,asn,sd,ssrdc,ssrd,tcc,...,t2m.2,asn.2,sd.2,ssrdc.2,ssrd.2,tcc.2,tciw.2,tclw.2,tp.2,wind_speed.2
0,2016-01-01 09:00:00,2016-01-01 00:00:00,3.886250,-2.851479,-3.648132,0.827843,0.015721,75.16963,65.13009,0.485168,...,-13.909399,0.600965,7.450581e-09,57.319398,30.413241,0.000000,0.000000,0.000000,0.000000e+00,7.704484
1,2016-01-01 09:30:00,2016-01-01 00:30:00,4.060666,-3.076042,-3.269185,0.827800,0.015729,124.01743,107.40524,0.529615,...,-12.694835,0.600870,7.450581e-09,104.414120,55.211142,0.037510,0.000396,0.000011,2.694627e-07,7.772519
2,2016-01-01 10:00:00,2016-01-01 01:00:00,4.235083,-3.300604,-2.890238,0.827758,0.015737,172.86522,149.68039,0.574062,...,-11.480271,0.600775,7.450581e-09,151.508843,80.009043,0.075021,0.000793,0.000023,5.389253e-07,7.840554
3,2016-01-01 10:30:00,2016-01-01 01:30:00,4.409499,-3.525166,-2.511292,0.827716,0.015744,221.71301,191.95555,0.618509,...,-10.265707,0.600680,7.450581e-09,198.603565,104.806944,0.112531,0.001189,0.000034,8.083880e-07,7.908589
4,2016-01-01 11:00:00,2016-01-01 02:00:00,4.583915,-3.749728,-2.132344,0.827674,0.015752,270.56082,234.23071,0.662956,...,-9.051143,0.600586,7.450581e-09,245.698287,129.604846,0.150041,0.001585,0.000046,1.077851e-06,7.976625

In [14]:
dfp.set_index(pd.to_datetime(dfp['DATE_TIME']), inplace=True)
dfq.set_index(pd.to_datetime(dfq['DATE_TIME']), inplace=True)

#### dfp.join(dfq, how='right')
dfpq=pd.merge(dfp,dfq, how='inner', on='DATE_TIME')
dfpq.head(19)

C:\Users\Mhdella\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning: 'DATE_TIME' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  exec(code_obj, self.user_global_ns, self.user_ns)

,DATE_TIME,S1[MW],S2[MW],solar[kW/m2],temp[deg C],solar[kW/m2].1,temp[deg C].1,solar[kW/m2].2,temp[deg C].2,solar[kW/m2].3,temp[deg C].3
0,2016-01-01 00:00:00,0.0,0.0,-0.000778,-2.3,-0.000902,-2.5,-0.000717,-8.8,-0.002055,-4.4
1,2016-01-01 00:30:00,0.0,0.0,-0.000703,-2.2,-0.000727,-2.8,-0.000073,-9.3,-0.002093,-4.2
2,2016-01-01 01:00:00,0.0,0.0,-0.000713,-2.1,-0.000774,-3.2,-0.000957,-9.0,-0.000592,-4.9
3,2016-01-01 01:30:00,0.0,0.0,0.000029,-2.2,-0.000942,-3.5,-0.001920,-8.6,-0.001966,-5.6
4,2016-01-01 02:00:00,0.0,0.0,-0.000261,-2.4,-0.000459,-3.7,-0.000978,-7.9,-0.001745,-5.5
5,2016-01-01 02:30:00,0.0,0.0,-0.000976,-2.2,-0.000647,-3.5,-0.000095,-8.4,-0.000248,-5.8
6,2016-01-01 03:00:00,0.0,0.0,-0.000430,-2.2,-0.000581,-3.6,-0.000572,-9.2,-0.001088,-7.2
7,2016-01-01 03:30:00,0.0,0.0,-0.001002,-2.4,-0.000904,-3.7,-0.000674,-9.5,-0.004018,-6.0
8,2016-01-01 04:00:00,0.0,0.0,-0.000928,-2.2,-0.000964,-4.0,-0.000531,-9.7,-0.000932,-5.9
9,2016-01-01 04:30:00,0.0,0.0,-0.000843,-1.9,-0.000595,-4.6,-0.001093,-9.8,0.002833,-8.7
10,2016-01-01 05:00:00,0.0,0.0,-0.000919,-1.9,-0.000931,-4.7,-0.000833,-9.9,-0.003029,-9.4
11,2016-01-01 05:30:00,0.0,0.0,-0.000780,-1.9,-0.000856,-4.7,-0.000196,-10.0,0.000255,-9.4
12,2016-01-01 06:00:00,0.0,0.0,-0.000273,-2.5,-0.000882,-4.9,-0.000904,-10.3,-0.000707,-10.9
13,2016-01-01 06:30:00,0.0,0.0,0.000537,-2.9,0.000035,-4.9,0.000205,-10.1,0.001539,-11.6
14,2016-01-01 07:00:00,0.1,2.0,0.004359,-2.9,0.008711,-4.6,0.011419,-10.0,0.013094,-10.8
15,2016-01-01 07:30:00,6.1,15.0,0.012925,-3.1,0.034085,-3.6,0.034104,-9.5,0.058635,-9.9
16,2016-01-01 08:00:00,32.1,29.9,0.038337,-2.9,0.117576,-2.6,0.093011,-8.8,0.094276,-8.6
17,2016-01-01 08:30:00,59.8,56.9,0.061475,-2.2,0.213484,-0.7,0.176356,-7.9,0.200981,-6.5
18,2016-01-01 09:00:00,54.7,78.4,0.159228,-1.2,0.276627,0.0,0.339371,-5.9,0.276318,-4.5

In [33]:
df_43_mes17_18.set_index(pd.to_datetime(df_43_mes17_18['DATE_TIME']), inplace=True)
df_42_44_mes17_18.set_index(pd.to_datetime(df_42_44_mes17_18['DATE_TIME']), inplace=True)
df_42_44_mes16.set_index(pd.to_datetime(df_42_44_mes16['DATE_TIME']), inplace=True)
df_42_44_mes16_18.set_index(pd.to_datetime(df_42_44_mes16_18['DATE_TIME']), inplace=True)

dfpq_43_mes17_18=pd.merge(dfpq,df_43_mes17_18, how='inner', on='DATE_TIME')
dfpq_43_mes17_18.head()

dfpq_42_44_mes17_18=pd.merge(dfpq,df_42_44_mes17_18, how='inner', on='DATE_TIME')
dfpq_42_44_mes17_18.head()

dfpq_42_44_mes16=pd.merge(dfpq,df_42_44_mes16, how='inner', on='DATE_TIME')
dfpq_42_44_mes16.head()

dfpq_42_44_mes16_17=pd.merge(dfpq,df_42_44_mes16_18, how='inner', on='DATE_TIME')
dfpq_42_44_mes16_17.head()

C:\Users\Mhdella\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning: 'DATE_TIME' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  exec(code_obj, self.user_global_ns, self.user_ns)

,DATE_TIME,S1[MW],S2[MW],solar[kW/m2],temp[deg C],solar[kW/m2].1,temp[deg C].1,solar[kW/m2].2,temp[deg C].2,solar[kW/m2].3,...,t2m.2,asn.2,sd.2,ssrdc.2,ssrd.2,tcc.2,tciw.2,tclw.2,tp.2,wind_speed.2
0,2016-01-01 09:00:00,54.7,78.4,0.159228,-1.2,0.276627,0.0,0.339371,-5.9,0.276318,...,-13.909399,0.600965,7.450581e-09,57.319398,30.413241,0.000000,0.000000,0.000000,0.000000e+00,7.704484
1,2016-01-01 09:30:00,113.8,89.0,0.221269,-0.3,0.307764,0.1,0.297246,-4.4,0.322007,...,-12.694835,0.600870,7.450581e-09,104.414120,55.211142,0.037510,0.000396,0.000011,2.694627e-07,7.772519
2,2016-01-01 10:00:00,115.9,97.3,0.231619,-0.5,0.354492,0.7,0.320564,-2.3,0.360174,...,-11.480271,0.600775,7.450581e-09,151.508843,80.009043,0.075021,0.000793,0.000023,5.389253e-07,7.840554
3,2016-01-01 10:30:00,139.5,100.6,0.205909,-0.4,0.363168,0.8,0.306980,-1.9,0.399243,...,-10.265707,0.600680,7.450581e-09,198.603565,104.806944,0.112531,0.001189,0.000034,8.083880e-07,7.908589
4,2016-01-01 11:00:00,125.7,96.8,0.277444,-0.2,0.358989,0.6,0.237579,-3.1,0.412188,...,-9.051143,0.600586,7.450581e-09,245.698287,129.604846,0.150041,0.001585,0.000046,1.077851e-06,7.976625

NOTE: S1 and S2 can be aslo merged together with the power and measurements (that could increas the training power for the forecasting mode).

In [37]:
print(len(dfpq_42_44_mes16_17)) #number of rows
print(len(dfpq_42_44_mes16_17.columns))  #number of columns

35070
48

In [32]:
df_indx=df_42_44_mes16_18.set_index('DATE_TIME')
df_indx
df_fcst=df_indx.loc['1/1/2018':'12/31/2018']
df_fcst.head()
# df_fcst.tail()

,time,u10,v10,t2m,asn,sd,ssrdc,ssrd,tcc,tciw,...,t2m.2,asn.2,sd.2,ssrdc.2,ssrd.2,tcc.2,tciw.2,tclw.2,tp.2,wind_speed.2
DATE_TIME,,,,,,,,,,,,,,,,,,,,,
2018-01-01 00:00:00,2017-12-31 15:00:00,-4.263284,1.441052,-0.940094,0.798919,0.027095,0.0,0.0,0.970322,0.034957,...,-8.757758,0.575865,0.0,0.0,0.0,0.653808,0.002134,5.960464e-08,1.862645e-09,11.792140
2018-01-01 00:30:00,2017-12-31 15:30:00,-4.262975,1.444606,-0.910467,0.799420,0.027141,0.0,0.0,0.968970,0.040100,...,-8.822262,0.576884,0.0,0.0,0.0,0.614146,0.001928,5.960464e-08,1.862645e-09,11.459007
2018-01-01 01:00:00,2017-12-31 16:00:00,-4.262665,1.448160,-0.880839,0.799921,0.027187,0.0,0.0,0.967618,0.045242,...,-8.886766,0.577903,0.0,0.0,0.0,0.574484,0.001721,5.960464e-08,1.862645e-09,11.125874
2018-01-01 01:30:00,2017-12-31 16:30:00,-4.262356,1.451715,-0.851212,0.800422,0.027232,0.0,0.0,0.966267,0.050385,...,-8.951270,0.578923,0.0,0.0,0.0,0.534822,0.001514,5.960464e-08,1.862645e-09,10.792740
2018-01-01 02:00:00,2017-12-31 17:00:00,-4.262047,1.455269,-0.821584,0.800923,0.027278,0.0,0.0,0.964915,0.055528,...,-9.015774,0.579942,0.0,0.0,0.0,0.495160,0.001308,5.960464e-08,1.862645e-09,10.459607

In [44]:
dfpq_42_44_mes16_18=pd.concat([dfpq_42_44_mes16_17, df_fcst]) #This data 2016-18 is without measurements
dfpq_42_44_mes16_18.tail()
dfpq_42_44_mes16_18.head()

# print(len(dfpq_42_44_mes16_18)) #number of rows
# print(len(dfpq_42_44_mes16_18.columns))  #number of columns

C:\Users\Mhdella\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,DATE_TIME,S1[MW],S2[MW],asn,asn.1,asn.2,sd,sd.1,sd.2,solar[kW/m2],...,tp.2,u10,u10.1,u10.2,v10,v10.1,v10.2,wind_speed,wind_speed.1,wind_speed.2
0,2016-01-01 09:00:00,54.7,78.4,0.827843,0.880002,0.600965,0.015721,0.076620,7.450581e-09,0.159228,...,0.000000e+00,3.886250,8.014370,0.556863,-2.851479,1.176743,-7.684333,4.820153,8.100299,7.704484
1,2016-01-01 09:30:00,113.8,89.0,0.827800,0.880002,0.600870,0.015729,0.076672,7.450581e-09,0.221269,...,2.694627e-07,4.060666,8.100741,0.854962,-3.076042,0.870430,-7.697986,5.096434,8.176612,7.772519
2,2016-01-01 10:00:00,115.9,97.3,0.827758,0.880002,0.600775,0.015737,0.076723,7.450581e-09,0.231619,...,5.389253e-07,4.235083,8.187113,1.153061,-3.300604,0.564116,-7.711639,5.372714,8.252924,7.840554
3,2016-01-01 10:30:00,139.5,100.6,0.827716,0.880002,0.600680,0.015744,0.076774,7.450581e-09,0.205909,...,8.083880e-07,4.409499,8.273484,1.451159,-3.525166,0.257802,-7.725292,5.648995,8.329237,7.908589
4,2016-01-01 11:00:00,125.7,96.8,0.827674,0.880002,0.600586,0.015752,0.076826,7.450581e-09,0.277444,...,1.077851e-06,4.583915,8.359856,1.749258,-3.749728,-0.048511,-7.738945,5.925275,8.405549,7.976625

In [41]:
### dfpq_43_mes17_18.to_csv('Merg_Ens_Agg_42_44_mes17_18.csv', encoding='utf-8', index=False)

### dfpq_42_44_mes17_18.to_csv('Merg_Ens_Agg_43_mes17_18.csv', encoding='utf-8', index=False)

### dfpq_42_44_mes16.to_csv('Merg_Ens_Agg_42_44_mes16.csv', encoding='utf-8', index=False)

### dfpq_42_44_mes16_17.to_csv('Merg_Ens_mmaxmin_Agg_42_44_mes16_18.csv', encoding='utf-8', index=False)